.mock-box {
  background-color: gray;
  font-size: 24px;
}

.bill {
  margin-top: 20px;
}

.payment-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.payment-btn {
  margin: 10px;
}

.modal-dialog-centered {
  margin-top: 150px;
}
