//IMPORTANT

// ----------------------------
.wrapper {
  background-color: white;
  height: 100vh;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.logo {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}

.top_search {
    transition: width .6s,height 4s,margin .6s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 180px;
    margin: 0 10px;
}



.top_search_input {
    margin-bottom: 18px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: #E9585A;
    color: #fff;
    width: 100%;
    height: 40px;
    transition: width 2s,height .2s,border-radius .6s,margin .6s;
}

.top_search:hover {
  width: 95%;

}

.top_search_input input {
    cursor: pointer;
    box-shadow: none;
    border: none;
    outline: none;
    margin: 0 20px;
    background-color: transparent;
    width: 80%;
    border-bottom: none!important;
    box-shadow: none!important;
}

input {
    line-height: normal;
}

input {
    color: inherit;
    font: inherit;
    margin: 0;
}

::placeholder {
  color: white;
  opacity: 0.9;
  font-size: 15px;
}

