//IMPORTANT

// ----------------------------
.wrapper {
  background-color: white;
  height: 100vh;
}

.center{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}


.top_search {
    margin-left: 0px;
    margin-right: 0px;
    transition: width .6s,height 4s,margin .6s;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 10px;
}



.top_search_input {
    margin-top: 20px;
    border: 1px solid #E9585A;
    margin-bottom: 18px;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 20px;
    background-color: white;
    color: #E9585A;
    width: 74%;
    height: 50px;
    transition: width .7s,height .1s,border-radius .3s,margin .3s;
}


.loop-icon {
  margin-left: 8px;
}

.top_search_input:hover {
  width: 110%;
}

.top_search:hover ~ .logo-nav-container {
  display: none;
}

.top_search:hover ~ .log {
  display: none;
}

.top_search_input input {
    cursor: pointer;
    box-shadow: none;
    border: none;
    outline: none;
    margin: 0 10px;
    background-color: transparent;
    width: 80%;
    border-bottom: none!important;
    box-shadow: none!important;
}

input {
    line-height: normal;
}

input {
    color: inherit;
    font: inherit;
    margin: 0;
}

::placeholder {
  color: $our-red;
  opacity: 0.9;
  font-size: 15px;
  text-align: center;
}

.logo-nav-container {
  margin-left: -10px;
}

.no-results {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
