

.top-dashboard-container-top {
  position: sticky;
  top: 0px;
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.1);

    p {
    font-size: 12px;
   }

}

.dashboard-container-footer{
  position: sticky;
  bottom: 0px;
  width: 100%;
  background-color: white;
  box-shadow: 1px 1px 1px 1px rgba(0,0,0,0.1)
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.party-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5%;
  width: 50%;
}

.dashboard-menu{
  h3{
    margin-left: 8px;
  }
}

.balance {
  margin-bottom: 5px;
}

.dashboard-controller-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5%;
  width: 50%;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: whitesmoke;
}

.bill-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0px;

  a {
    color: lightgray;
    border-style: solid;
    border-width: 1px;
    border-color: #E9585A;
    padding: 10px;
    border-radius: 10px;
    font-weight: lighter;
  }

  a:hover {
    text-decoration: none;
  }
}
.dashboard-controller-avatars {
  img {
    display: inline-block;
  }

  span {
    margin-left: -10px;
    color: gray;
  }
}

#still-hungry {
  color: #E9585A;
  text-align: center;
}

