<% if @just_ordered %>
  <div class="alert alert-info alert-dismissible alert-fullscreen" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span class="mult" aria-hidden="true">&times;</span></button>
    <div class="alert-message">
      <!-- Your food should be with you shortly. In the meantime you can order more food, pay the bill or simply relax! -->
      <div class="internal-message">
        Thank you for ordering!
      </div>
      <div class="internal-message internal-message-2">
        Your food should be with you shortly
      </div>
      <div class="internal-message internal-message-3">
        In the meantime you can order more food, pay the bill or simply relax!
      </div>
    </div>
  </div>
<% end %>
