<div class="navbar-eatsplit">
  <% if current_user.nil? %>
    <div class="log_in">
      <%= link_to "Log in", new_user_session_path, class: "log_in_link" %>
    </div>
  <% else %>
    <div class="log_out-simple-navbar">
      <%= link_to "Log out", destroy_user_session_path, :method => 'delete', class: "log_in_link"
       %>
    </div>
  <% end %>
  <div class="logo-nav-container">
  <%= link_to root_path, class: "navbar-eatsplit-brand" do %>
    <%= image_tag "logo_eatsplit.svg", class: "logo" %>
  <% end %>
  </div>
</div>

