<div class="container bill-header">
  <div class="bill-header">
      Your table's Bill:
  </div>
  <div class="bill-header">
      Check items you wish to pay for.
  </div>

</div>

<div class="container bill">
  <% @bill.orders.each.with_index do |order, i| %>
    <%= render "shared/bill-card", locals: { order: order, i: i } %>
  <% end %>

</div>

<div>
  <div class="total-display">
    <button type="button" class="button fixy2" style="background-color: white; color: #000000;">
      <div class="center">
        Your Total: €
        <span id='total'>
          0
        </span>
      </div>
    </button>
  </div>

  <div class="container payment-buttons">
    <div class="button-fix">
    <!-- Link to a controller action where we update  -->
    <!-- We want to send the data there  -->
      <button type="button" class="button fixy" data-toggle="modal" data-target=".bd-card-modal-sm">
        Pay by Card
      </button>
    </div>

    <div class="button-fix">
      <button type="button" class="button fixy" data-toggle="modal" data-target=".bd-cash-modal-sm">
        Pay by Cash
      </button>
    </div>
  </div>
</div>



<div class="modal fade bd-card-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="payment-modal">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pay by Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please enter your card details</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Secure Checkout</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-cash-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="payment-modal">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pay by Cash</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your bill is ready to pay at the register!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</div>
