<div class="container bill-header">
  <div class="logo-container-bill">
      logo goes here
  </div>
  <div class="bill-header">
      Your table's Bill
  </div>
</div>

<div class="container bill">
  <div class="mock-box">
    <p>Hello world</p>
  </div>
</div>

<div class="container payment-buttons">
  <div>
    <button type="button" class="btn btn-primary payment-btn" data-toggle="modal" data-target=".bd-card-modal-sm">
      Pay by Card
    </button>
  </div>

  <div>
    <button type="button" class="btn btn-primary payment-btn" data-toggle="modal" data-target=".bd-cash-modal-sm">
      Pay by Cash
    </button>
  </div>
</div>



<div class="modal fade bd-card-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="payment-modal">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pay by Card</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Please enter your card details</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Secure Checkout</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-cash-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true" id="payment-modal">
  <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Pay by Cash</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your bill is ready to pay at the register!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</div>
