<div class="wrapper-landing">
  <div class="wrapper-landing-2">
    <div class="logo-landing">
      <%= image_tag "logo_landing.svg", height: 70, class: "center" %>
      <h1>eatsplit</h1>
    </div>
    <div class="tagline">
      <h1>Bill successfully paid</h1>
      <h2>Thank you for using EatSplit!</h2>
    </div>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>


