
<div class="wrapper">
  <div class="logo">
    <%= image_tag "logo_eatsplit.svg" %>
  </div>
  <div class="search">
    <h1>Welcome !</h1>
    <input type="text", placeholder="Enter restaurant name", id="restaurant_address">
    <%= submit_tag "Search", class: "btn btn-primary" %>
  </div>
</div>
