<div class="wrapper-landing">
  <div class="wrapper-landing-2">
    <div class="logo-landing">
      <%= image_tag "logo_landing.svg", height: 70, class: "center" %>
      <h1>eatsplit</h1>
    </div>
    <div class="tagline">
      <h1>Order.</h1>
      <h2>We take care of the rest.</h2>
    </div>
    <div class="no-top">
      <%= link_to "Go!", restaurants_path, class: "button button-go" %>
    </div>
  </div>
  <div class="footer-links">
    <a href="https://github.com/"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/starwars/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/Binks77/"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/realjarjarbinks?lang=fr"><i class="fab fa-twitter"></i></a>
    <a href="https://ca.linkedin.com/in/victor-gardrinier"><i class="fab fa-linkedin"></i></a>
  </div>
</div>

<%= javascript_pack_tag 'get-location' %>
