<div class="wrapper-landing">

  <div class="wrapper-landing-2">
    <div class="logo-landing">
      <%= image_tag "logo_landing.svg", height: 70 %>
    </div>
    <div class="tagline">
      <h1>Order.<br> We take care of the rest.</h1>
    </div>
    <div class="no-top">
      <p>Find your restaurant:</p>
      <%= link_to "Go!", restaurants_path, { style: 'padding-left: 22%;', class: "button" } %>
    </div>
  </div>
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>


