/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  padding: 25px;
  border: none;
}
.alert-info {
  background: black;
}
.alert-warning {
  background: $red;
}

.alert-fullscreen {
  height: 100vh;
  position: fixed;
  background-color: rgba(0,0,0,0.75);
  z-index: 2;
  overflow: scroll;
  top: 0px;
}
.alert-message {
  height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.alert-dismissible {
  padding-right: 0px;
}
.alert-dismissible .close {
  position: relative;
  top: 0px;
  right: 30px;
  color: inherit;
}

.mult {
  color: white;
  font-size: 50px;
}
