/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  padding: 25px;
}
.alert-info {
  background: $green;
}
.alert-warning {
  background: $red;
}

.alert-fullscreen {
  height: 100vh;
}
.alert-message {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alert-dismissible {
    padding-right: 0px;
}
.alert-dismissible .close {
    position: relative;
    top: 0px;
    right: 30px;
    color: inherit;
}
