.container-index-restaurants {
  margin-top: 70px;
}

.card {
  box-shadow: 1px 1px 4px 1px #e8e8e8;
  height: 150px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  margin-bottom: 10px;
  transition: transform .3s ease-out;
  transition: transform .3s ease-out;
  &:hover{
    transform: scale3d(1.03, 1.03, 1.1);
    opacity: 0.9;

    }
}

.margin-top:first-child {
  margin-top: 8px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 40px;
  border-radius: 50%;
}
.card-category {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  top: 10px;
  left: 10px;
}
.card-description h2 {
  margin: 0px;
  font-size: 24px;
}
.card-bottom {
  p {
  font-size: 12px;
  color: white;
  }
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}



.card-container:hover {
  text-decoration: none;
}

.card-details {
    width: 100%;
    position: absolute;
    bottom: 10px;
    padding: 0px 8px;
    display: flex;
    justify-content: space-between;


}

.card-location-info {
  display: flex;
  align-items: center;

  i {
    font-size: 12px;
    color: $our-red;
    margin-top: 12.5px;
    margin-right: 8px;
  }
   p {
      color: white;
      font-weight: lighter;
      font-size: 12px;
      margin-top: 12.5px;
      margin-bottom: 0px;
      text-align: right;
    }
}

.restaurant-address {
    font-size: 12.5px;
    color: white;
  }

.card-info {
  p {
      color: white;
      font-size: 16px;
      margin: 0;
  }
  >p {
    font-size: 24px;
  }
}
