.form-login {
  background: white;
  color: #4F4F4F;
  padding: 10px 20px;
  margin-top: 50px;
  border-radius: 3px;
  h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }
  .btn {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }
}

.devise-links{
  margin-top: 8px;
  text-align: right;
}

.devise-links a {
  color: #4F4F4F;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
}


