/* Main navbar */
.navbar-eatsplit {
  width: 100vw;
  box-shadow: 0 1px 5px 0 rgba(0,0,0,0.07),0 1px 0 0 rgba(0,0,0,0.03);
  background: white;
  transition: all 0.3s ease;
  height: 70px;
  padding-left: 30px;
  padding-right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
  position: fixed !important;
  top: 0 !important;
  z-index: 1;
}

/* Logo */
.navbar-eatsplit-brand img {
  height: 50px;
}

.log_in {
  width: 65px;
}

.log_out {
  width: 87px;
}

.log_in_link {
  font-size: 13px;
  color: #E9585A;
}

.navbar-eatsplit-brand img {
  height: 40px;
}

.log_out-simple-navbar {
  width: 51px;
  margin-right: 10px;
}

.table-already {
  font-size: 12px;
  margin-right: 10px;
  a {
    &:hover {
      text-decoration: none;
    }
  }
}
