.orders-card-container{
  margin-top: 0px;
  margin-bottom: 59px;
  width: 100%;
  border-top: 1px solid rgba(0,0,0,0.2);
  box-shadow: 0 0 0.1em lightgray;
  overflow: auto;
}
.price{
  font-weight: normal;
  margin: 0px;
  padding: 4px;
  padding-left: 0px;
  font-size: 13px;
  font-weight: lighter;
}

.price.checkout-final {
  min-width: 44px;
  text-align: center;
}

.order-card-category{
  box-shadow: 0 0 .3em lightgray;
  margin: 0px 8px;
  border-radius: 3px;
}
.no-style{
    color: gray;
    text-decoration: none !important;
  }
.order-card{
  display: flex;
  flex-direction: column;
  padding: 8px;
  background-color: white;
  border-bottom: 1px solid rgba(0,0,0,0.1);


  .order-card-details{
    padding: 0px;
    width: 100%;
    height: 100%;
    .order-card-details-bottom{
      width: 100%;
    }

    p{
      margin: 0px;
      padding: 4px;
      font-size: 12px;
      font-weight: lighter;
    }
    h4{
      margin: 0px;
      padding: 4px;
      font-size: 16px;
      font-weight: bold;
    }
  }
}
.order-card-image-container{
  padding: 8px;
  .order-card-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    // border: 1px solid rgba(0,0,0,0.2)
  }
}
.order-card:first-child {
  border-radius: 3px;
}
.order-card:last-child {
  // margin-bottom: 8px;
  // border-bottom-right-radius: 3px;
  // border-bottom-left-radius: 3px;
}

.dish-added {
  border: 0.5px solid rgba(#7FC6A6,0.5);
}
.order-card-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.order-card-buttons{
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
.order-quantity{
  padding: 0px 4px;
  font-size: 14px;
}
.orders-total-footer {
  border-top: 1px solid lightgray;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 11vh;
  width: 100%;
  position: fixed;
  bottom: 0px;
  background-color: white;
  h3 {
    margin:0px;
    // margin-bottom: 3px;
    margin-right: 10px;
  }
  p {
    margin:0px;
    font-size: 12px;
    // font-weight: bold;
    // color: limegreen;
    // margin-right: 3px;
  }
}
.orders-form{
  form{
    display: flex;
    justify-content: space-between;
    align-items: center;
    select {
      font-size: 12px;
      padding: 2px;
      height: 100%;
    }
    .orders-form-label {
      font-size: 12px;
      width: 50%;
      margin-right: 8px;
      font-weight: lighter;
    }
  }
}
 .orders-total-box {
  display: flex;
  padding-right: 10px;
  font-weight: lighter;
 }

