#table-select-title {
  padding-left: 16px;
}

#table-select-form {
  input {
    display: none;
  }

  input:last-child {
    display: block;
  }

  label {
    display: block;
    max-width: 100%;
    margin-bottom: 0px;
    font-weight: normal;
  }


}

.table-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 4px 1px #e8e8e8;
  margin: 8px 0px;
  border-radius: 3px;
  transition: 1s ease;
}

label:last-child {
  .table-card{
  margin-bottom: 12vh;
  }
}

.table-card-selected {
  background-color: #e7e7e7;
  border: 2px transparent whitesmoke;
  }


.table-card-box-left {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-left: 16px;
    justify-content: center;
}


.table-card-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;

    i {
      font-size: 15px;
    }

    p {
      margin-top: 12.5px;
      font-size: 15px;
      margin-left: 12.5px;
    }
}

.table-status {
  font-size: 12px;
  font-weight: lighter;
}

.table-card-box-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
  width: 40%;


  > p {
     font-size: 16px;
  }
}

.dashboard-controller-avatars {
  img {
    display: inline-block;
  }

  span {
    margin-left: -8px;
    color: gray;
  }
}


