
.table-dashboard-avatar {
  height: 40px;
  width: 40px;
  margin-left: -25px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 1px;

}

.table-dashboard-user-avatar {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  border-style: solid;
  border-color: white;
  border-width: 1px;

}

.table-dashboard-avatar:first-child {
  margin-left: 0;
}
