#table-select-title {
  padding-left: 16px;
}

.table-links {
  color: #333333;

}

.table-links:active {
  color: #333333;
  text-decoration: none

}

.table-links:hover {
  color: #333333;
  text-decoration: none

}


.table-card {
  padding: 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 1px 4px 1px #e8e8e8;
  margin: 16px 0px;
  border-radius: 3px;
  transition: 1s ease;
}

a:last-child {
  .table-card{
  margin-bottom: 12vh;
  }
}

.table-card-selected {
  background-color: #e7e7e7;
  border: 2px transparent whitesmoke;
  }


.table-card-box-left {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-left: 16px;
    justify-content: center;
}


.table-card-title {
  display: flex;
  justify-content: flex-start;
  align-items: center;

    i {
      font-size: 15px;
    }

    p {
      margin-top: 12.5px;
      font-size: 15px;
      margin-left: 12.5px;
    }
}

.table-status {
  font-size: 12px;
  font-weight: lighter;
}

.table-card-box-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5%;
  width: 55%;


  > p {
     font-size: 16px;
  }
}

.dashboard-controller-avatars {
  display: flex;
  img {
    display: inline-block;
  }

  span {
    color: gray;
  }
}

.rest-of-table-users {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  margin: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -12px;
}


